<head>
</head> 

<body> 

<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
	<h3 id= "how"> How does it work? </h3> 
</div> 


  <div class="container">
<br> 
<br> 
<br>
<br> 
<br> 
<br> 
<br> 
<br> 
    It works like that
<br> 
<br> 
<br> 
<br>  
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
 </div>

<body> 