<head>
</head> 

<body> 

<div class="row">
  <div class="col-md-3 col-md-offset-3 text-center">
	<h3 id= "how"> How does it work? </h3> 
</div> 


  <div class="container">
<br> 
<br> 
<br>
<br> 
<br> 
<br> 
<br> 
<br> 
    <h4><center> It works like that </center></h4> 
<br> 
<br> 
<br> 
<br>  
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
 </div>

<body> 