<h1>Should I <%= @decision.question %></h1>
<p><%= @decision.description %></p>
<div class = "row">
<div class = "span5 well option"><%= @decision.option1_name %></div>
<div class = "span5 well option"><%= @decision.option2_name %></div>
</div>

