

<div>
<strong> Question </strong>
</div>
 
<div> 
  <ul>
	<li><h2><%= @question.text %></h2></li>
	 <li><% @possible_answers.each do |possible_answer| %></li>
	<li><%= possible_answer.body %></a></li>
	<% end %>
   </ul>
</div>


