<head> 
</head> 

<body> 

<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center"><h1 id="answer_title"> Answers </h1>
 </div> 

 <br> 
 <br> 
 <br> 
 <br> 
 <br> 

 <div class="row">
  <div class="col-md-7 col-md-offset-2 text-left">

  <strong>All questions & answers:</strong></div>

  <br> 

<div class="row-fluid">
  <div class="span10">

<table> 

<% @questions.each do |question| %> 

<tr>

<td id= "question_text"><%=question.text%></td> 

	<% question.possible_answers.each %> do |question|
	<td><%= possible_answer.body %></td>
	<td><%= possible_answer.count %></td>

<% end %>

</tr>


<% end %> 
</table>
</div>
</div>
</div>


<%= link_to 'Back', questions_path %> 




</body> 



