// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#answer_title 

{ 
	font-family: "monoton", sans-serif; 
	color: white; 
	font-size: 30px
 }




#you_answer

{ 
	font-family: "monoton", sans-serif; 
	color: white; 
	font-size: 30px
 }
