// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#questions_title 

{ 
	font-family: "monoton", sans-serif; 
	color: white; 
	font-size: 30px
 }

#new_question 

{ 
	font-family: "monoton", sans-serif; 
	color: white; 
	font-size: 30px
 }


#question_text

{
	font-size: 13px;
	color: white;
}

