// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#header {
  background-color: #03507B;
  color: #FFF;
  padding: 4px 150px;
  border-bottom: solid 5px #00395A;
}


#site_title { 
	font-family: "monoton", sans-serif; 
	color: white; 
	font-size: 80px

 }


 #tagline {
 font-family: sans-serif;
 color: white; 
 font-size: 25px
 }