<head>
</head> 


<body> 

<br> 
<br> 


<%= @question.text %> 

<% @question.insights.each do |insight| %>

<%= insight.kind %> 

<%= insight.body %>

<% end %> 

<br> 
<br> 
<br> 
<br> 
<br> 
<br> 


</body> 


