<!DOCTYPE html>


<head>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

  <title>PythiaApp</title>

  <%= stylesheet_link_tag "application", media: "all" %>
  <link href='http://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %> 



</head>


<body>
<ul class="nav nav-tabs">
  <li class="active"><a href="/">Home</a></li>
  <li><a href ="/questions">Questions</a></li> 
  <li><a href="/questions/:question_id/answers">Answers</a></li>
  <li><a href="/instruction">How does it work?</a></li>
</ul>





<div class="layout"> 




<%= yield %>

</body>
 

